<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
      integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
      crossorigin="anonymous">
</head>
<body>
    <nav id="navbar" class="navbar has-shadow is-spaced">
        <div class="container">
            <div class="brand" style="vertical-align: center;">
                <p class="title is-4"><img src="{{ url_for('static', filename='brand.png') }}" height=140 width=140/>
                    : devinez les sentiments qui se cachent derrière ce que vous dites...
                </p>
            </div>
        </div>
    </nav>

    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <form class="form" action="" method="post">
                <div class="field">
                    <label class="label">Entrez une phrase :</label>
                    <div class="control">
                        <input id="sentence" name="sentence" class="input is-rounded" type="text" placeholder="...">
                    </div>
                </div>
                <input id="submit" type="submit" class="button" value="Trouver le sentiment ">
            </form>
        </div>
    </div>
</body>
</html>